/* colors I'll use for this page */
/* orange, white, darkblue, gold */

h1.hero {
    line-height: 28px;
    margin: 20px;
    display: inline-block;
}
p.hero {
    line-height: 28px;
    text-align: justify;
    display: inline;
}

#nav{
    position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}

#nav a {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* position: absolute; */
}

.box {
    width: 100px;
  height: 200px;
  padding: 50px;
  border: 1px solid red;
}

.checked {
    color: orange;
  }

  .re-txt {
    line-height: 28px;
    margin: 20px;
    display: inline-block;
  }

  .star-rate{
      flex-shrink: initial;
  }